<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="header-text">
      Quick News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="content">
  <ion-grid class="center-button">
    <ion-row class="align-center">
      <ion-button class="button" (click)="ToNdtvNews()">NDTV</ion-button>
    </ion-row>
    <ion-row class="align-center">
      <ion-button class="button" (click)="ToIndiaTodayNews()">INDIA TODAY</ion-button>
    </ion-row>
    <ion-row class="align-center">
      <ion-button class="button" (click)="ToIndianExpressNews()">INDIAN EXPRESS</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>